* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar starts */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:#303960;
	color:#F3EAC2;
}
nav.light-theme {
	/* color: #B7B4B4; */
	background-color: #2f2f2f;
}
.logo {
	letter-spacing: 5px;
	font-size: 22px;
}
img.adg-logo {
	width: 30px;
	height: 30px;
	margin-bottom: -1vh;
}
/* Nav Links */
.navlinks {
	display: flex;
	justify-content: space-around;
	width: 50%;
	color: #F3EAC2;
}
.navlinks li {
	list-style: none;
	position: relative;
}
.navlinks a {
	font-size: 18px;
	color: #F3EAC2;
	text-decoration: none;
	letter-spacing: 1.5px;
	opacity: 0.85;
	padding-bottom: 2.5vh;
	padding-top: 2vh;
}
/* Active Nav Link */
#active {
	opacity: 1;
	font-weight: 525;
}
#active::before {
	height: 5px;
	content: "";
	position: absolute;
	background-color: #F3EAC2;
}
/* Nav Link Animation */
.nav-link:hover {
	opacity: 1;
}

.nav-link::before {
	transition: 250ms;
	height: 5px;
	content: "";
	position: absolute;
	background-color: #F3EAC2;
}

.nav-link-grow-up::before {
	height: 0%;
	width: 100%;
	bottom: -9%;
}

.nav-link-grow-up:hover::before {
	height: 5px;
}

/* Responsivity */
.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 3px;
	background-color: #e5e5e5;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.navlinks {
		display: flex;
		justify-content: space-around;
		width: 70%;
		color: #e5e5e5;
	}
}

@media screen and (max-width: 678px) {
	body,
	html {
		overflow-x: hidden;
	}
	.navlinks {
		position: absolute;
		right: 0px;
		height: 92vh;
		width: 50%;
		top: 8vh;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.navlinks li {
		opacity: 0;
	}
	.navlinks a {
		padding-top: 0%;
		padding-bottom: 0%;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}
/* Responsive Navlink Animation */
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
/* Toggle Animation Burger */
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
